<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="./favicon.png">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/style.css">
  <title>BIOMATIC</title>
</head>

<body>
  <div class="wrapper">
    <h1 class="title">Настройка уведомлений</h1>
    <div class="push-wrapper">
      <h2 class="subtitle" id="push-subtitle">Включить<br>Push-уведомления</h2>
      <button class="push-button"><img class="push-button__img" src="img/spinner-icon-0.gif" alt="загрузка"></button>
      <p class="error" id="push-error"></p>
      <h2 class="subtitle" id="tg-subtitle">Подписаться <br>на Telegram-уведомления</h2>
      <button class="tg-button"><img class="push-button__img" src="img/icons8-telegram.svg" alt="tg"></button>
      <p class="error" id="tg-error"></p>
      <p class="mess" id="tg-error">*Полная поддержка уведомлений присутствует в версиях прошивки контроллера не ниже 2.0.4.<br>При необходимости обратитесь к производителю для обновления прошивки контроллера</p>
    </div>
  </div>
  
</body>
<script src="./js/script.js"></script>

</html>